
#banner {
    background-color: white;
    position: relative;
    overflow: hidden;
}

#moto {
    background: url('../img/screenshot-50.png') no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
    float: right;
}

#texto-banner {
    padding: 50px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.btn-saber-mais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #logo img {
        width: 30px;
        margin-right: 10px;
    }

    #moto, #texto-banner {
        width: 100%;
        float: none;
    }
}

.seccao-de-conteudo-1 {
    margin-top: 30px;
    background-color: rgb(170, 167, 167);
    padding: 20px;
}
.divisao-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-e-descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.card {
    width: 230px !important;
    height: 230px !important;
    border-radius: 15px !important;
    background-color: rgb(240, 95, 95) !important;
    text-align: center !important;
    margin: 0 10px !important;
}
.img-e-descricao img {
    width: 325px;
    height: 315px;
}
.titulo1::before {
    content: "";
    width: 95px;
    height: 5px;
    display: inline-block;
    background: rgb(240, 95, 95);
    margin: 4px 10px;
}

.contratacao {
    padding: 15px;
}
.cards-contrato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
.card-contra {
    width: 230px !important;
    height: 230px !important;
    background-color: rgb(209, 196, 196) !important;
    text-align: center !important;
    margin: 0 10px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 40%;
    text-align: center;
    margin: 0 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*.card-contra-1 {
    width: 180px;
    height: 40px;
    background-color: rgb(60, 94, 189);
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 60%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}*/
.titulo-contra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.seccao-emprendedor {
    padding: 25px;
    background-color: rgb(170, 167, 167);
    margin-top: 65px;
}
.conte-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.titulo-emprendedor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.emprendedor-num {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
.emprendedor-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.emprendedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.fa-whatsapp {
    background-color: rgb(53, 236, 53);
    color: white;
    font-size: 22px;
    border-radius: 25px;
}

.card-servico {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card-servico:hover {
    transform: scale(1.05);
  }

  .card-servico img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-servico-content {
    padding: 15px;
  }

  .card-servico-text {
    margin-top: 10px;
  }

  .cta-link {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: rgb(236, 102, 102);
    text-decoration: none;
    font-weight: bold;
  }
  .cards-service {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  }
  .titulo-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .servicos {
    padding: 20px;
    margin-top: 55px;
  }

  footer {
    background-color: #add8e6;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
  }

  .hr {
    border: 0;
    border-top: 1px solid white;
    margin: 10px 0;
    width: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 365px;
    background-color: white;
    color: #fff;
  }

  .copyright {
    font-size: 12px;
  }
  .footer-item {
    text-decoration: none;
    color: white;
  }

.input-camp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .names,
  .name {
    outline: none !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    width: 100%;
  }
  
  .text-area {
    margin-top: 10px;
  }
  
  .enviar-button {
    background-color: rgb(236, 102, 102);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }  