
#banner {
    background-color: white;
    position: relative;
    overflow: hidden;
}

#moto {
    background: url('../img/screenshot-50.png') no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
    float: right;
}

#texto-banner {
    padding: 50px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.btn-saber-mais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #logo img {
        width: 30px;
        margin-right: 10px;
    }

    #moto, #texto-banner {
        width: 100%;
        float: none;
    }
}

.seccao-de-conteudo-1 {
    margin-top: 20px;
    background-color: rgb(170, 167, 167);
    padding: 20px;
}
.divisao-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-e-descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.card {
    width: 230px !important;
    height: 230px !important;
    border-radius: 15px !important;
    background-color: rgb(240, 95, 95) !important;
    text-align: center !important;
    margin: 0 10px !important;
}
.img-e-descricao img {
    width: 325px;
    height: 325px;
}
.titulo1::before {
    content: "";
    width: 95px;
    height: 2px;
    display: inline-block;
    background: rgb(240, 95, 95);
    margin: 4px 10px;
}